<header>

  <div class="imgBx">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Amazon_icon.png" alt="">


  </div>
  <div class="inputBx">
    <input type="text">
    <div class="icon"><i nz-icon nzType="search" nzTheme="outline"></i></div>




  </div>

  <div class="login">
    <a href=""><img src="https://img.icons8.com/ios/50/000000/login-rounded-right--v1.png" /></a>
    <a href=""><img src="https://img.icons8.com/ios/50/000000/favorite-cart.png" /></a>

  </div>




</header>
<div>
  <ul class="menus">
    <li><a href="">Anasayfa
      </a></li>
    <li>
      <a href="">Yeni Gelen Ürünler</a>


<div class="grid">
<!-- <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
  <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" width="100px;" />
</ng-template> -->



<div class="all" *ngFor="let item of products">

<div class="imgContent">
  <img src="{{item?.image}}">

</div>
<div  class="title">

<h1>{{item?.name}}</h1>
<p>{{item?.price}}</p>

</div>

</div>


</div>



<!-- <div style="border: 1px solid black; border-radius: 10px;" style="width: 400px; height: 600px;">
  <img src="">
  
  <div style=" border-top: 1px solid black;" height="40%" width="100%">a</div>
</div> -->







    </li>
    <li><a href="">İndirimdekiler</a></li>
    <li><a href="">Markalar</a>
      <div class="grid2" >
        <!-- <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" width="100px;" />
        </ng-template> -->
        
        
        
        
        <!-- <div class="imgContent">
          <img src="{{item?.image}}">
        
        </div> -->
    
        
        <a href="" *ngFor="let item of brandElems">{{item?.name | uppercase}}</a>
        <!-- <p>{{item?.price}}</p> -->
        
        </div>
        
     
        
        
   
    </li>
    <li><a href="">Kategoriler</a>
      <div class="grid">
        <!-- <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" width="100px;" />
        </ng-template> -->
        
        
        
        <div class="all" *ngFor="let item of categoryElems">
        
        <!-- <div class="imgContent">
          <img src="{{item?.image}}">
        
        </div> -->
        <div  class="title">
        
        <h1>{{item?.name}}</h1>
        <!-- <p>{{item?.price}}</p> -->
        
        </div>
        
        </div>
        
        
        </div></li>
    <li><a href="">İletişim</a></li>
  </ul>

</div>

<button class="button button-primary" (click)="subscribeToNotifications()">
  Test3
</button>